body {
    font-family: 'Rubik', sans-serif;
    background-color: #66B2FF;
    background: linear-gradient(to bottom, #55B2FF, #93c9ff);
    min-width: 320px
}

#title {
    text-align: center;
    padding: 20px;
    font-size: 32px;
    font-weight: lighter;
    letter-spacing: 2px;
}

#description {
    text-align: center;
    font-size: 16px;
}

form {
    max-width: 500px;
    padding: 1em;
    background-color: white;
    margin: 3% auto;
    border-radius: 1em;
}

fieldset {
    margin-bottom: 20px;
    border-radius: 1em;
}

input,
select {
    padding: 0.3rem;
    border-radius: 4px;
    border: 1px solid #ddd;
    font-size: 14px;
}

select {
    width: 95%;
    height: 30px;
    margin-left: 10px;
}

input[type="text"],
input[type="email"],
input[type="number"] {
    width: 95%;
}

input[type="checkbox"],
input[type="radio"] {
    text-align: center;
    margin-left: 10px;
    font-size: 10px;
}

label {
    /* display: block; */
    display: inline-block;
    padding: 10px 5px;
    text-align: left;
    font-size: 12px;
}

label:first-child {
    padding-top: 0;
}

textarea {
    padding: 5px;
    font-size: 14px;
    width: 95%;
    min-height: 100px;
    border-radius: 4px;
    border: 1px solid #ddd;
    box-shadow: 1px 1px 1px #ddd;
}

button {
    display: block;
    background-color: #93c9ff;
    border: 1px solid #ddd;
    width: 50%;
    margin: 0 auto;
    padding: 0.2rem;
    border-radius: 4px;
    font-size: 12px;
}

button:hover {
    background-color: #55B2FF;
    border: 1px solid black;
}

.footer {
    text-align: center;
}

a {
    display: inline-block;
    color: #565656;
    text-decoration: none;
    padding: 0 6px;
    border-radius: 4px;
}

a:hover {
    text-decoration: underline;
}

a:after {
    content: ' 🗗';
    font-size: 12px;
    line-height: 0;
    vertical-align: super;
    opacity: 0.7;
}


/* -----------  MEDIA QUERIES  --------------- */
@media (max-width: 1200px) {
    form {
        /* max-width: 450px; */
        max-width: 400px;
        padding: .5em;
    }

    #title {
        font-size: 26px;
        /* letter-spacing: 1px; */
    }

    #description {
        font-size: 12px;
    }

@media (max-width: 400px) {
    form {
        max-width: 400px;
        padding: .5em;
    }

    #title {
        font-size: 26px;
        /* letter-spacing: 1px; */
    }

    #description {
        font-size: 12px;
    }
}